*{
    margin: 0;
    padding: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bg-legend{
    background-color: #5575d1;
}
.sidebar-design{
    background-color: #343a40;
}
.main-page{
    background-color: #c1d1f3;
}
.heading-center{
    text-align: center;
    margin-right: 482px;
}
.info-icon{
    cursor: pointer;
}
.form-design{
    background-color: #D7E9FF;
}
.form-align{
    margin-right: 0px;
    margin-left: -3px;
}
/* .button :nth-child(1){
    margin-bottom: 10px;
} */